/* Untuk Tablet */
@media all and (max-width: 1000px) {

    .container {
        padding: 50px;
    }

    /* Lesson */

    .lesson-wrapper .lesson {
        width: 50%;
        margin-bottom: 50px;
        padding: 0 10px;
    }



    /* Teams */
    .teams {
        height: 100%;
        color: black;
        display: block;
    }

    .teams::before {
        display: none;
    }

    .teams .heading h2 {
        border-bottom: 1px solid #000;
    }

    .teams .team-list {
        margin-top: 25px;
    }

    .teams .team {
        width: 50%;
        margin-bottom: 20px;
        color: white;
        float: left;
        position: relative;
    }

    .teams .team::before {
        content: '';
        width: 95%;
        height: 100%;
        position: absolute;
        background-image: url('./images/bg-team-2.jpg');
        z-index: -1;
        left: 0;
        overflow: hidden;
        margin-left: 17px;
        background-position: center;
    }

    .orange {
        background-color: rgba(255, 68, 0, 0.548);
    }

    .red {
        background-color: rgba(139, 0, 0, 0.527);
    }

    /* Contact */
    .map {
        padding-top: 50px;
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }

    .contact {
        height: 100%;
        margin-top: 50px;
    }

    .contact-form {
        float: left;
        width: 100%;
        padding-right: 0;
    }

    .contact-submit {
        width: 100%;
    }

    .footer {
        height: 40%;
        padding: 30px 30px;
    }

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

    .container {
        padding: 30px;
    }

    header {
        height: 65px;
        width: 100%;
        background-color: rgb(16, 52, 59);
        position: fixed;
        z-index: 10;
    }

    header .container {
        padding: 5px 30px;
    }

    .header-left {
        float: left;
        padding-top: 15px;
        color: white;
        font-size: 25px;
        font-weight: bold;
    }

    #menu li a {
        display: none;
    }

    .top-wrapper {
        padding: 130px 0 100px 0;
        background-image: url('./images/genie-bg.jpg');
        background-size: cover;
        color: white;
        text-align: left;
        height: 100vh;
        background-position: center;
        text-align: center;
    }

    .top-wrapper h1 {
        font-size: 25px;
    }

    .top-wrapper .btn-wrapper {
        display: flex;
        margin-top: 100px;
        justify-content: center;
    }

    .top-wrapper .btn-wrapper {
        margin-top: 30px;
        padding-bottom: 20px;
    }

    .top-wrapper .btn-wrapper p {
        margin: 10px 0;
    }

    .more {
        background: #093b28;
        color: white;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgb(44, 44, 44);
        float: left;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }


    /* Services */

    .lesson-wrapper .lesson {
        width: 100%;
        margin-bottom: 50px;
        padding: 0 10px;
    }

    .lesson-icon {
        position: relative;

    }

    .lesson-wrapper .container {
        padding: 30px;
    }

    .teams {
        height: 100%;
        color: black;
        display: block;
    }

    .teams::before {
        display: none;
    }

    .teams .heading h2 {
        border-bottom: 1px solid #000;
    }

    .teams .team {
        width: 100%;
        margin-bottom: 20px;
        color: white;
        position: relative;
    }

    .teams .team::before {
        content: '';
        width: 96%;
        height: 100%;
        position: absolute;
        background-image: url('./images/bg-team-2.jpg');
        z-index: -1;
        left: 0;
        overflow: hidden;
        margin-left: 18px;
        background-position: center;
    }

    .teams .team-list {
        margin-top: 25px;
    }

    .orange {
        background-color: rgba(255, 68, 0, 0.548);
    }

    .red {
        background-color: rgba(139, 0, 0, 0.527);
    }

    /* Contact */
    .contact {
        height: 100%;
        margin-top: 50px;
    }

    .map {
        padding-top: 50px;
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-form {
        float: left;
        width: 100%;
        padding-right: 0;
    }

    .contact-submit {
        width: 100%;
    }

    .footer {
        height: 55%;
        padding: 30px 20px;
    }
}
